header {
    position: fixed;
    width: 100%;
    z-index: 990;

    div.top-nav-logo-bar {
        background-color: $clr-top-nav-bg-dark;

        div.top-nav-logo-bar-wrapper {
            width: 90vw;
            max-width: 140rem;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;

            div.top-nav-logo-and-stars {
                display: flex;
                align-items: center;

                img.top-nav-stars {
                    padding-left: 3rem;
                }
            }

            div.mobile-socials-area {
                margin-left: auto;

                a {
                    width: 3.5rem;
                    height: 3.5rem;
                    background-color: #575757;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    margin-right: .5rem;
                    text-decoration: none;

                    i.fab {
                        color: $clr-accent;
                        font-size: 1.8rem;
                        @include btn-hover;

                        &:hover {
                            color: rgb(126, 174, 58);
                        }
                    }
                }
            }

            div.hamburger-wrapper {
                display: none;
            }
        }
    }
}

div.top-nav-menu-bar {
    background-color: $clr-top-nav-bg-light;
    height: 5.4rem;
    display: flex;
    align-items: center;
    -webkit-box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.12);

    ul.top-nav-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        li {
            margin: 0 1rem;

            a {
                text-decoration: none;
                color: $clr-main-txt;
                font-size: 1.6rem;
                text-transform: uppercase;
                padding: 1rem 1.5rem;
                @include top-nav-btn-hover;

                &:visited {
                    color: $clr-main-txt;
                }

                &:hover {
                    color: $clr-accent;
                }

                &.active {
                    color: $clr-accent;
                }
            }
        }
    }
}