/* ===================================================================
            Media Queries: Top Nav Styles
=================================================================== */

/*  Large Screens & Desktop  */

@media only screen and (max-width: 1050px) {

    header {
        div.top-nav-logo-bar {
            -webkit-box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.12);
            -moz-box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.12);
            box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.12);

            div.top-nav-logo-bar-wrapper {
                padding: 0 2rem;
                width: 100vw;

                div.top-nav-logo-and-stars {
                    a {
                        svg {
                            width: 14.6rem;
                            height: 7.8rem;
                        }
                    }
                }

                div.mobile-socials-area {
                    display: none;
                }

                div.hamburger-wrapper {
                    display: block;
                    margin-left: auto;
                }
            }
        }

        div.top-nav-menu-bar {
            display: none;
        }
    }
}

/*  Larger Phones  */

@media only screen and (max-width: 420px) {
    header {
        div.top-nav-logo-bar {
            div.top-nav-logo-bar-wrapper {
                div.top-nav-logo-and-stars {
                    a {
                        img.top-nav-logo {
                            width: 15rem;
                            height: auto;
                        }
                    }

                    img.top-nav-stars {
                        padding-left: 2rem;
                    }
                }
            }
        }
    }
}

/* ===================================================================
            Media Queries: Homepage
=================================================================== */

/*  Large Screens & Desktop  */

@media only screen and (max-width: 1050px) {

    section#homepage-section {
        padding-top: calc(27vh - 5rem);

        div.homepage-content {
            div.homepage-left-side {

                div.homepage-intro-txt-sub-hdr {
                    margin-top: 3rem;
                }
            }
        }
    }
}

/*  Tablets  */

@media only screen and (max-width: 960px) {

    section#homepage-section {
        p.homepage-sub-hdr {
            width: 60%;
            margin: 0 auto;
        }

        div.homepage-content {
            display: flex;
            flex-direction: column;

            div.homepage-left-side {
                width: 100%;
                margin-left: auto;
                text-align: right;
                order: 1;
            }

            div.homepage-right-side {
                width: 100%;
                margin: 0 auto;

                img.homepage-main-image {
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

/*  Phones  */

@media only screen and (max-width: 600px) {

    section#homepage-section {
        .homepage-sub-hdr {
            width: 95%;
            margin: 0 auto;
        }

        .homepage-content {
            .homepage-left-side {
                .homepage-intro-txt-sub-hdr {
                    font-size: 3.4rem;
                    color: $clr-section-hdr-dark;
                    margin-top: 0;
                }
            }

            .homepage-right-side {
                width: 100%;
            }
        }
    }
}

/*  Phones  */

@media only screen and (max-width: 514px) {
    section#homepage-section {
        h1.homepage-hdr {
            font-size: 3.5rem;
        }

        p.homepage-sub-hdr {
            font-size: 2.5rem;
        }

        div.homepage-content {
            div.homepage-left-side {
                h2.homepage-intro-txt-sub-hdr {
                    font-size: 3rem;
                }
            }
        }
    }
}

/* ===================================================================
            Media Queries: Find Us
=================================================================== */

/*  Small Laptop Screens  */

@media only screen and (max-width: 1000px) {}

/*  Tablets  */

@media only screen and (max-width: 850px) {
    section#find-us-section {
        padding: 10rem 0;

        div.map-and-address {
            div#map {
                height: 30rem;
            }


            div.address-section {
                p.onsight-team {
                    width: 80%;
                }
            }
        }
    }
}

/* ===================================================================
            Media Queries: Footer
=================================================================== */

/*  Large Screens & Desktop  */

@media only screen and (max-width: 1047px) {
    footer {
        padding: 5rem 0;

        div.footer-top-section {
            flex-direction: column;

            div {
                padding: 3rem 0 0 0;
            }

            div.age-restriction,
            div.affilates {
                width: 50%;
                padding-left: 0;
            }

            div.follow-us {
                padding-left: 0;
            }
        }
    }
}

/*  Small Phones  */

@media only screen and (max-width: 450px) {
    footer {
        div.footer-top-section {

            div.age-restriction,
            div.affilates {
                width: 80%;
            }
        }
    }
}