section#vape-coils-hdr-section {
    padding-top: 21rem;
    padding-bottom: 8rem;

    h1.vape-coils-hdr {
        color: $clr-page-hdr-grey;
        font-size: 4.5rem;
        font-weight: 700;
        text-align: center;
    }

    h2.vape-coils-sub-hdr {
        color: $clr-accent;
        font-size: 3.3rem;
        font-weight: 300;
        text-align: center;
    }

    img.vape-coils-hdr-stars {
        display: block;
        margin: .5rem auto 0 auto;
    }

    img.vape-coils-top-img {
        display: block;
        margin: 3rem auto 0 auto;
    }
}

section.vape-coils-product-section {
    background-color: $clr-product-section-bg;
    padding: 10rem 0;
}