// Text styles - Headers
$clr-page-hdr-grey: #575757;
$clr-footer-hdr: #F5F5F5;
$clr-contact-hdr: #F5F5F5;
$clr-find-us-txt: #F5F5F5;
$clr-section-hdr-dark: #292828;



// Paragraphs & Sub Hdrs
$clr-main-txt: #575757;
$clr-footer-txt: #AAA9A9;
$clr-footer-copyright: #F5F5F5;



// Background styles
$clr-top-nav-bg-dark: #333333;
$clr-top-nav-bg-light: #F5F5F5;
$clr-homepage-warning-bg: #292828;
$clr-product-section-bg: #F4F4F4;
$clr-product-buy-btn: #333333;
$clr-mobile-menu-bg: #292828;
$clr-contact-bg: #292828;



// Section bg styles
$clr-about-bg: #F4F4F4;
$clr-contact-bg: #292828;
$clr-footer-bg: #333333;



// Branding
$clr-accent: #8DC63F;